<div class="card">
    <p-toast></p-toast>

    <p-table
        #dt
        [value]="games"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['title', 'country.title', 'representative.title', 'status']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [(selection)]="selectedGames"
        [rowHover]="true"
        dataKey="id"
        sortField="likes"
        [sortOrder]="-1"
        currentPageReportTemplate="Wyświetlanie od {first} do {last} z {totalRecords} wpisów"
        [showCurrentPageReport]="true"
    >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Gry Planszowe</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th pSortableColumn="title" style="min-width:15rem">Tytuł <p-sortIcon field="title"></p-sortIcon></th>
                <th>Zdjęcie</th>
                <th pSortableColumn="gametype1" style="min-width:10rem">Kategoria <p-sortIcon field="gametype1"></p-sortIcon></th>
                <th pSortableColumn="published" style="min-width:10rem">Rok publikacji <p-sortIcon field="published"></p-sortIcon></th>
                <th pSortableColumn="maxPlayers" style="min-width:10rem">Max. Liczba Graczy <p-sortIcon field="maxPlayers"></p-sortIcon></th>
                <th pSortableColumn="age" style="min-width:10rem">Min. Wiek <p-sortIcon field="age"></p-sortIcon></th>
                <th pSortableColumn="likes">Polubienia <p-sortIcon field="likes"></p-sortIcon></th>
                <th pSortableColumn="price">Cena <p-sortIcon field="price"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-game>
            <tr>
                <td></td>
                <td><a [href]="' ' +  game.id ">{{game.title}}</a></td>
                <td><img [src]="'assets/images/' + game.img" [alt]="game.title" width="50" class="shadow-4" /></td> <!--Src to img! -->

                <td>{{ getCategoryName(game.gametype1) }}</td>
                <td>{{ game.published }}</td>
                <td>{{ game.maxPlayers }}</td>
                <td>{{ game.age }}</td>
                <td>{{ game.likes }}</td>
                <td>{{ game.price}} zł</td>
                <td>
                    <!--<button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editGame(game)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteGame(game)"></button>-->
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">Całkowita ilość gier wynosi: {{ games ? games.length : 0 }}</div>
        </ng-template>
    </p-table>
</div>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>