<div class="row mx-auto">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="Profile" class="rounded-circle">
                <h1></h1>
                <h2>{{ user.userid }}</h2>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body pt-3">
                <p-tabView>
                    <p-tabPanel header="Przegląd">
                        <div class="tab-content pt-2">
                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <h5 class="card-title">Opis</h5>
                                <p class="small fst-italic">{{ user.description }}</p>
                                <h5 class="card-title">Szczegóły Profilu</h5>
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 label">Nazwa użytkownika:</div>
                                    <div class="col-lg-8 col-md-6">{{ user.userid }}</div>
                                </div>                               
                                <div class="row">
                                    <div class="col-lg-4 col-md-6  label">E-mail:</div>
                                    <div class="col-lg-8 col-md-6">{{ user.email }}</div>
                                </div>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Edytuj Profil">
                        <div class="tab-content pt-2">
                            <div class="tab-pane fade show active profile-edit" id="profile-edit">
                                <form (ngSubmit)="saveUserData()"> 
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 label edit">Opis:</div>
                                        <div class="col-lg-8 col-md-6">
                                            <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="description" name="description" required></textarea>
                                            <div class="alert alert-danger" role="alert" *ngIf="!description">
                                                Pole nie może być puste!
                                            </div>
                                        </div>
                                    </div>       
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 label edit">Nazwa użytkownika:</div>
                                        <div class="col-lg-8 col-md-6">
                                            <input type="text" pInputText [(ngModel)]="username" name="username" required/>
                                            <div class="alert alert-danger" role="alert" *ngIf="!username">
                                                Pole nie może być puste!
                                            </div>
                                        </div>
                                    </div>                               
                                    <div class="row mt-2">
                                        <div class="col-lg-4 col-md-6 label edit">E-mail:</div>
                                        <div class="col-lg-8 col-md-6">
                                            <input type="email" pInputText id="email" [(ngModel)]="email" name="email" required/>
                                            <div class="alert alert-danger" role="alert" *ngIf="!email">
                                                Pole nie może być puste!
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-5 text-center">
                                        <p-button type="submit" label="Zapisz zmiany"></p-button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Ustawienia">
                        <div class="tab-content pt-2">
                            <div class="tab-pane fade show active profile-edit" id="profile-edit">
                                <form (ngSubmit)="saveUserData()"> <!-- zmienić-->
                                    <div class="row">
                                        <p-checkbox [(ngModel)]="check" [binary]="true" inputId="binary" name="check"></p-checkbox>
                                        Przykładowy tekst do klikniętego przycisku
                                    </div>       
                                    <div class="mt-5 text-center">
                                        <p-button type="submit" label="Zapisz zmiany"></p-button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel header="Zmień Hasło">
                        <div class="tab-content pt-2">
                            <div class="tab-pane fade show active profile-edit" id="profile-edit">
                                <form (ngSubmit)="onVerifyPassword()">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 label edit">Aktualne hasło:</div>
                                        <div class="col-lg-8 col-md-6">
                                            <p-password [(ngModel)]="currentPassword" [toggleMask]="true" [feedback]="false" name="currentPassword"></p-password>
                                            <div class="alert alert-danger" role="alert" *ngIf="">
                                                Nie może być puste!
                                            </div>
                                        </div>
                                    </div>    
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 label edit">Nowe hasło:</div>
                                        <div class="col-lg-8 col-md-6">
                                            <p-password [(ngModel)]="newPassword" [toggleMask]="true" [feedback]="false" name="newPassword"></p-password>
                                            <div class="alert alert-danger" role="alert" *ngIf=""> 
                                                Nie może być puste!
                                            </div>
                                        </div>
                                    </div>     
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 label edit">Powtórz nowe hasło:</div>
                                        <div class="col-lg-8 col-md-6">
                                            <p-password [(ngModel)]="reNewPassword" [toggleMask]="true" [feedback]="false" name="reNewPassword"></p-password>
                                            <div class="alert alert-danger" role="alert" *ngIf="">
                                                Nie może być puste!
                                            </div>
                                        </div>
                                    </div>                                
                                    <div class="mt-5 text-center">
                                        <p-button type="submit" label="Zapisz zmiany"></p-button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </div>
</div>