<div class="card">
    <p-dataView #dv [value]="likedGame">
        <ng-template let-likedGame pTemplate="listItem">
            <div class="col-12">
                <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                    <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" [src]="'assets/images/' + likedGame.game.img" [alt]="likedGame.game.title" />
                    <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                        <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                            <div class="text-2xl font-bold text-900">{{ likedGame.game.title }}</div>
                            <div class="flex align-items-center gap-3">
                                <span class="date">{{ likedGame.date | date: 'dd.MM.yyyy' }}</span>
                            </div>
                            <div class="flex align-items-center gap-3">
                                <span class="flex align-items-center gap-2">
                                    <!-- <i class="pi pi-tag"></i> -->
                                    <span class="font-semibold">Polubienia: {{ likedGame.game.likes }}</span>
                                </span>
                            </div>
                            <span class="short_description">{{ likedGame.game.short_description }}</span>
                        </div>
                        <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                            <!-- <p-button icon="pi pi-heart" styleClass="p-button-rounded p-button-danger"></p-button>
                            <p-button icon="pi pi-times" styleClass="p-button-rounded p-button-danger"></p-button> -->
                            <p-button #heartButton icon="pi pi-heart" styleClass="p-button-rounded p-button-danger" (click)="deleteSelectedLikedGame(likedGame.game.id)" (mouseover)="onMouseOver(heartButton)" (mouseout)="onMouseOut(heartButton)"></p-button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>