<div *ngIf="showUsersPanel"></div>


<form (ngSubmit)="addComment(actualUser.id)">
  <input type="text" placeholder="Dodaj komentarz" [(ngModel)]="newComment" name="newComment" required>
  <button type="submit">Dodaj</button>
</form>


<div *ngFor="let comment of comments">
  <div class="card" *ngIf="comment">
    <img [src]="'//ssl.gstatic.com/accounts/ui/avatar_2x.png'" [alt]="'avatar'"/>
    <div class="container">
      <h2>{{ comment.user?.username }}</h2>
      <div>
        {{ comment.comment }}
      </div>
    </div>
  </div>
</div>


