
<div class="background" >
  <p-image [src]="'assets/images/' + game.img" alt="Image" width="250" [preview]="true"></p-image>
      
  <div class="game-info">
    <h1 class="game-title">{{game.title}}</h1>
    <p class="game-description">{{game.short_description}}</p>
    <p-rating [cancel]="false"></p-rating>
    <div class="game-rating">      
    <span class="rating-value"></span>
    </div>  
  <div class="requirements-container">
    <table class="requirements-table">
      <tr>
        <th>Players</th>
        <th>Playing time</th>
        <th>Age</th>
      </tr>
      <tr>
        <td>{{game.max_players}}</td>
        <td></td>
        <td>{{game.age}}</td>
      </tr>
    </table>             
  </div>
  </div>
  <p-button icon="pi pi-heart" severity="help"></p-button>
</div>

<div class="ogolne">
<p-tabView>
  <p-tabPanel header="Opis" background='black'>
    <p>{{game.long_description}}</p>
  </p-tabPanel>
  <p-tabPanel header="Oceny">
    <p>
      <div class="comment-section">
        <h2>Komentarze:</h2>
          <div *ngFor="let comment of getComments()">
            <p><strong>{{ comment.username }}</strong> - {{ comment.content }}</p>
            <p class="timestamp">{{ comment.timestamp | date: 'medium' }}</p>
          </div>
        
      <div class="comment-form">
        <h3>Dodaj komentarz</h3>
          <form #commentForm="ngForm" (ngSubmit)="addComment(commentForm.value.username, commentForm.value.content)">
              <label for="username">Username:</label><br>
              <input type="text" id="username" name="username" ngModel required><br>
        
              <label for="content">Comment:</label><br>
              <textarea id="content" name="content" ngModel required></textarea><br>
              <p-button type="submit" [disabled]="!commentForm.valid" label="Submit"></p-button>
          </form>
      </div>
      </div>
  </p-tabPanel>
  <p-tabPanel header="Zdjęcia">
      <!--<p>
        <p-galleria [(value)]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '640px' }" [numVisible]="5">
          <ng-template pTemplate="item" let-item>
              <img [src]="item.itemImageSrc" style="width: 100%;" />
          </ng-template>
          <ng-template pTemplate="thumbnail" let-item>
              <div class="grid grid-nogutter justify-content-center">
                  <img [src]="item.thumbnailImageSrc" />
              </div>
          </ng-template>
      </p-galleria>
      </p>-->
  </p-tabPanel>
</p-tabView>
</div>




