<div class="background" >
  <p-image [src]="'assets/images/' + game.img" alt="Image" width="250" [preview]="true"></p-image>
      
  <div class="game-info">
    <h1 class="game-title">{{game.title}}</h1>
    <p class="game-description">{{game.shortDescription}}</p>
    <!-- <p-rating [cancel]="false"></p-rating> -->
    <div class="game-rating">      
      <span class="rating-value"></span>
    </div>  
  <div class="requirements-container">
    <table class="requirements-table">
      <tr>
        <th>Players</th>
        <th>Category</th>
        <th>Age</th>
        <th>Likes</th>
        <th>Price</th>
        <th>Buy now:</th>
      </tr>
      <tr>
        <td>{{game.maxPlayers}}</td>
        <td>{{ getCategoryName(game.gametype1 !== undefined ? game.gametype1 : 0) }}</td>
        <td>{{game.age}}</td>
        <td>{{game.likes}}</td>
        <td>{{game.price}} zł</td>
        <td><a href='{{game.reference}}' target="_blank">{{game.title}}</a></td>
      </tr>
    </table>             
  </div>
  <div class="pbutton">
    <button *ngIf="canUserLike()" pButton type="button" icon="pi pi-heart" (click)="handleLike()" severity="help"></button>
  </div>
  </div>
</div>

<div class="ogolne">
<p-tabView>
  <p-tabPanel header="Opis" background='black'>
    <p>{{game.longDescription}}</p>
  </p-tabPanel>
  <p-tabPanel header="Oceny">
    <div class="comment-section">
      <h2>Komentarze:</h2>
      <div *ngIf="showCommentList && game"> <!-- Dodano warunek game -->
        <app-comment-list [gameIdToComment]="gameIdToComment!"></app-comment-list>
      </div>
    </div>
  </p-tabPanel>
  <!-- <p-tabPanel header="Zdjęcia">   
    <div *ngIf="showGalleria"></div>
    <app-gallery></app-gallery>
  </p-tabPanel> -->
</p-tabView>
</div>